/* Configurações Globais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 80px;
  padding: 2rem 1rem;
  background-color: #191627;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #191627;
}

header {
  background: #191627;
  min-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
  height: 12vh;
  visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 0.4s;
}

@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

header h1 {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  cursor: default;
}

nav {
  display: flex;
  gap: 1.5rem;
  margin-right: 10vh;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  font-size: 1rem;
  margin-left: 9vh;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  header h1 {
    font-size: 1.2rem;
    padding: 0;
  }
}

@media (max-width: 480px) {
  nav a {
    font-size: 0.9rem;
  }
}

header i {
  color: violet;
}
