/* Aplica estilo só ao ícone dentro do link */
nav a i {
  transition: transform 0.3s ease-in-out;
  display: inline-block; /* necessário para animação funcionar bem */
}

/* Quando passar o mouse no link, anima o ícone */
nav a:hover i {
  animation: girar 0.6s ease-in-out;
}

/* Keyframes da animação */
@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 10px 0;
}

/* Linha "invisível" inicial */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2.5px;
  background-color: violet;
  transition: width 0.3s ease-in-out;
  box-shadow: 0 0 15px violet, 0 0 25px violet, 0 0 35px violet;
}

/* Quando passar o mouse, a linha cresce */
nav a:hover::after {
  width: 100%;
}

.float-icon {
  display: inline-block;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* altura da flutuação */
  }
  100% {
    transform: translateY(0);
  }
}

