#resumo {
  display: flex;
  flex-direction: row-reverse; /* Inverte a ordem para a imagem ficar na direita */
  align-items: flex-start; /* Alinha o conteúdo ao topo */
  justify-content: center;

  color: white;
  font-family: "Kode Mono", sans-serif;
  gap: 3rem;
}

#resumo img {
  border-radius: 15px;
  width: 450px;
  height: auto;
  flex-shrink: 0;
}

.resumo-conteudo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 900px;
}

.resumo-introducao {
  margin-bottom: 3rem;
}

.resumo-introducao h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.resumo-introducao p {
  line-height: 1.6;
  font-size: 1rem;
}

.resumo-detalhes {
  display: grid;
  /* Cria 3 colunas de largura igual, com espaçamento */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.coluna-habilidades h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.coluna-habilidades ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.coluna-habilidades ul li {
  line-height: 1.3; /* Reduz o espaçamento entre as linhas para maior compactação */
  margin-bottom: 0.3rem;
  font-size: 0.8rem; /* Reduz o tamanho da fonte */
}

#click-here {
  text-decoration: none;
  font-size: 1.2rem;
  color: tomato;
}

#click-here:hover {
  text-decoration: underline;
}
