#sobre {
  color: white;
  background-color: #191627;
  font-family: "Kode Mono";
}

.conteudo-sobre {
  display: flex; /* Alinha os filhos (texto e imagem) lado a lado */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 2rem; /* Adiciona espaçamento entre o texto e a imagem */
  padding: 2rem 1rem;
}

.texto-sobre {
  max-width: 50%; /* Limita a largura do texto, para que ele fique menor e ao lado da imagem */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha o texto à esquerda, dentro do container */
}

.texto-sobre h1 {
  text-align: left; /* Alinha o título à esquerda */
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.texto-sobre p {
  line-height: 1.6; /* Melhora a legibilidade do parágrafo */
  font-size: 1rem;
}

#sobre img {
  max-width: 650px; /* Define um tamanho máximo para a imagem */
  height: auto;
}

/* iPad */
@media (max-width: 1024px) {
  #sobre .imagem-sobre {
    display: none;
  }
  #sobre p {
    font-size: 0.8rem;
  }
}
